/* ======================================================
   VISITA
====================================================== */

.visita-container {
    padding-top: 40px;
    padding-bottom: 40px;
}

/* Cards da página Visite */
.cards-visita .card-visita {
    background: var(--cor-clara);
    padding: 22px;
    border-radius: 12px;
    text-align: center;
    transition: 0.3s ease;
}

.cards-visita .card-visita:hover {
    background: var(--marrom-medio);
    color: rgb(67, 54, 54);
    transform: translateY(-6px);
    box-shadow: 0 14px 28px rgba(0,0,0,0.2);
}

.cards-visita h3 {
    font-weight: 600;
    margin-bottom: 10px;
}